<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Row</title>
</head>
<body>
<form action="{{url_for('edit_row', id=row.id) }}" method="POST">
    <div>
    <input type="school" name="school" value="{{row.school}}">
    <input type="school_course" name="school_course" value="{{row.school_course}}">
    <input type="scu_course" name="scu_course" value="{{row.scu_course}}">
    <div>
        {% if row.determination == "Approved" %}
            <input type="radio" name="determination" id="approved" value="Approved" checked> Approved <br>
            <input type="radio" name="determination" id="denied" value="Denied"> Denied <br>
        {% else %}
            <input type="radio" name="determination" id="approved" value="Approved"> Approved <br>
            <input type="radio" name="determination" id="denied" value="Denied" checked> Denied <br>
        {% endif %}

    </div>

    <select name="advisor" method="GET">
        {% for advisor in advisors %}
        <option value= "{{advisor.username}}" default="row.advisor" SELECTED>{{advisor.username}}</option>"
        {% endfor %}
        <option value= "{{row.advisor}}" SELECTED> Advisor</option>
    </select>
    <input type="submit" value="Finish update">
    </div>
</form>

</body>
</html>