{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<link rel="stylesheet" href="{{ url_for( filename='main.css') }}">
<form action="/login" method="POST">
    <div>
        <input type="username" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Log in">
    </div>
</form>
<form action="/add_user" method="POST">
    <p>New admin? Add your credentials here: </p>
    <input type="username" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Create User">
</form>

{% endif %}
{% endblock %}
