<!DOCTYPE html>
<html lang="en">
<style>
table {
    font-family: verdana;
    border-collapse: collapse;
    width: 100%;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #800000;
    color: white;
}
p {
    font-family: verdana;
    font-size: 60px;
    text-align: left;
}
h1 {
    font-family: verdana;
    font-size: 15px;
    align: right;
}
h2 {
    font-family: verdana;
    font-size: 15px;
    align: right;
}
</style>
<?php $isLoggedIn = (isset($_SESSION["staffId"]) && $_SESSION["staffId"] != NULL) ? true : false; ?>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <!--navbar settings-->
    <div class="container-fluid">
        <div class="navbar-header">
		<p> SCU Course Equivalency System </p>
            
            {% if isLoggedIn %}
                <a class="navbar-brand">
                    Welcome, {{ session["username"] }}!
                </a>
           {% endif %}
        </div>
        {% if isLoggedIn %}
            <form action="/logout">
		    <h1><input type="submit" name="auth" value="Log Out" action="/logout"></h1>
            </form>
            {% if session['admin'] %}
                <form action="/new_user_screen" method="POST">
                <h1><input type="submit" value="Add a new user?" action="/new_user_screen" method="POST"></h1>
                </form>
            {% endif %}
	    {% else %}
   	<form action="/login_screen" method="POST">
             <h2><input type="submit" value="Have an account? Log In!" action="/login" method="POST"></h2>
	</form>
       {% endif %}
    </div>
</nav>

<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
    <table>
        <tr>
            <th>School</th>
            <th>Country</th>
            <th>School Course</th>
            <th>SCU Course</th>
            <th>Determination</th>
            <th>Advisor</th>
            <th>Description</th>
            <th>Date</th>
            {% if isLoggedIn %}
            <th>Delete</th>
            <th>Edit</th>
            {% endif %}
        </tr>
        {% for row in items %}
        <tr>
              <td>{{ row.school }}</td>
              <td>{{ row.country}}</td>
              <td>{{ row.school_course }}</td>
              <td>{{ row.scu_course}}</td>
              <td>{{ row.determination }}</td>
              <td>{{ row.advisor}}</td>
              <td>{{ row.description }}</td>
              <td>{{ row.date }}  </td>
	      {% if isLoggedIn and row.advisor == session['username'] %}

              <form method="post" action="{{url_for('delete_row', id=row.id) }}">
              <td><input type="submit" value="Delete Row"></td>
              </form>
              <form method="post" action="{{url_for('display_edit_page', id=row.id) }}">
                  <td><input type="submit" value="Edit Row"></td>
              </form>
          {% endif %}

          {% if isLoggedIn and row.advisor != session['username'] %}
              <td></td>
              <td></td>
          {% endif %}
        </tr>

        {% endfor %}
        {% if isLoggedIn %}
    <form action="/add_row" method="POST">

    <td><input type="school" name="school" placeholder="School"></td>
    <td><input type="country" name="country" placeholder="Country"></td>
    <td><input type="school_course" name="school_course" placeholder="School's Course"></td>
    <td><input type="scu_course" name="scu_course" placeholder="SCU Course"></td>
    <td><input type="determination" name="determination" placeholder="Approved or Denied?"></td>
    <!-- <input type="radio" name="determination" id="approved" value="Approved" checked> Approved <br>
    //<input type="radio" name="determination" id="denied" value="Denied"> Denied <br> -->
    <td> Your username will automatically be recorded. </td>
    <td><input type="description" name="description" placeholder="Please explain your rationale here."></td>
    <td><input type="submit" value="Add row"></td>
    <td></td>
    <td></td>
    </form>

    {% endif %}
    </table>

</body>
</html>
