<!DOCTYPE html>
<html lang="en">
<style>
table {
    font-family: verdana;
    border-collapse: collapse;
    width: 100%;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #800000;
    color: white;
}
p {
    font-family: verdana;
    font-size: 60px;
    text-align: left;
}
h1 {
    font-family: verdana;
    font-size: 15px;
    align: right;
}
h2 {
    font-family: verdana;
    font-size: 15px;
    align: right;
}
</style>
<?php $isLoggedIn = (isset($_SESSION["staffId"]) && $_SESSION["staffId"] != NULL) ? true : false; ?>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <!--navbar settings-->
    <div class="container-fluid">
        <div class="navbar-header">
		<p> SCU Course Equivalency System </p>
            
            {% if isLoggedIn %}
                <a class="navbar-brand">
                    Welcome, {{ session["username"] }}!
                </a>
           {% endif %}
        </div>
        {% if isLoggedIn %}
            <form action="/logout">
		    <h1><input type="submit" name="auth" value="Log Out" action="/logout"></h1>
            </form>
            {% if session['admin'] %}
                <form action="/new_user_screen" method="POST">
                <h1><input type="submit" value="Add a new user?" action="/new_user_screen" method="POST"></h1>
                </form>
            {% endif %}
	    {% else %}
   	<form action="/login_screen" method="POST">
             <h2><input type="submit" value="Log In as Admin" action="/login" method="POST"></h2>
	</form>
       {% endif %}
    </div>
</nav>

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="table.js"></script>
    <script type="text/javascript" src="dropdown.js"></script>
    <title>Courses</title>
</head>
<body>
	 <input type="text" id="input" onkeyup="search()" placeholder="Search..">
    <div class="form">
<label for="country">Country</label>
<select name="country" id="country" onchange="setSchool();">
        <option value=""></option>  
  
		<option value="Argentina">Argentina</option>

		<option value="Australia" >Australia</option>
		 
        <option value="Austria" >Austria</option>
		 
        <option value="Belgium" >Belgium</option>
		 
        <option value="Bhutan" >Bhutan</option>
		 
        <option value="Botswana" >Botswana</option>
		 
        <option value="Cambodia" >Cambodia</option>
		 
        <option value="Chile" >Chile</option>
		 
        <option value="China" >China</option> Kingdom
		 
        <option value="Costa Rica" >Costa Rica</option>
		 
        <option value="Czech Republic" >Czech Republic</option>
		 
        <option value="Denmark" >Denmark</option>
		 
        <option value="Dominican Republic" >Dominican Republic</option>
		 
        <option value="Ecuador" >Ecuador</option>
		 
        <option value="El Salvador" >El Salvador</option>
		 
        <option value="France" >France</option>
		 
        <option value="Germany" >Germany</option>
		 
        <option value="Ghana" >Ghana</option>
		 
        <option value="Greece" >Greece</option>
		 
        <option value="Iceland" >Iceland</option>
		 
        <option value="India" >India</option>
		 
        <option value="Ireland" >Ireland</option>
		 
        <option value="Italy" >Italy</option>
		 
        <option value="Japan" >Japan</option>
		 
        <option value="Morocco" >Morocco</option>
		 
        <option value="Netherlands" >Netherlands</option>
		 
        <option value="New Zealand" >New Zealand</option>
		 
        <option value="Nicaragua" >Nicaragua</option>
		 
        <option value="Panama" >Panama</option>
		 
        <option value="Peru" >Peru</option>
		 
        <option value="Rwanda" >Rwanda</option>
		 
        <option value="Singapore" >Singapore</option>
		 
        <option value="South Africa" >South Africa</option>
		 
        <option value="South Korea" >South Korea</option>
		 
        <option value="Spain" >Spain</option>
		 
        <option value="Sweden" >Sweden</option>
		 
        <option value="Switzerland" >Switzerland</option>
		 
        <option value="Taiwan" >Taiwan</option>
		 
        <option value="Tanzania" >Tanzania</option>
		 
        <option value="Thailand" >Thailand</option>
		 
        <option value="Turkey" >Turkey</option>
  
        <option value="United Kingdom" >Turkey</option>
		 
        <option value="United States of America" >USA</option>
		 
        <option value="Vietnam" >Vietnam</option>
    </select>


<label for="school">School</label>
<select name="schools" id="schools" onchange="setCourses();">
  <option value="">Please select a Country</option>
</select>

<label for="course">Course</label>
<select name="course"  id="course">
  <option value="">Please select a Country</option>
</select>
  
<label for="scu_course">SCU Course</label>
<select name="scu_course"  id="scu_course">
  <option value="" ></option>
  <option value="coen10" >COEN 10</option>
  <option value="coen11" >COEN 11</option>
  <option value="coen12" >COEN 12</option>
  <option value="coen70" >COEN 70</option>
</select>
</div>

    <table>
        <tr>
            <th>School</th>
            <th>Country</th>
            <th>School Course</th>
            <th>SCU Course</th>
            <th>Determination</th>
            <th>Advisor</th>
            <th>Description</th>
            <th>Date</th>
            {% if isLoggedIn %}
            <th>Delete</th>
            <th>Edit</th>
            {% endif %}
        </tr>
        {% for row in items %}
        <tr>
              <td>{{ row.school }}</td>
              <td>{{ row.country}}</td>
              <td>{{ row.school_course }}</td>
              <td>{{ row.scu_course}}</td>
              <td>{{ row.determination }}</td>
              <td>{{ row.advisor}}</td>
              <td>{{ row.description }}</td>
              <td>{{ row.date }}  </td>
	      {% if isLoggedIn and row.advisor == session['username'] %}

              <form method="post" action="{{url_for('delete_row', id=row.id) }}">
              <td><input type="submit" value="Delete Row"></td>
              </form>
              <form method="post" action="{{url_for('display_edit_page', id=row.id) }}">
                  <td><input type="submit" value="Edit Row"></td>
              </form>
          {% endif %}

          {% if isLoggedIn and row.advisor != session['username'] %}
              <td></td>
              <td></td>
          {% endif %}
        </tr>

        {% endfor %}
        {% if isLoggedIn %}
    <form action="/add_row" method="POST">

    <td><input type="school" name="school" placeholder="School"></td>
    <td><input type="country" name="country" placeholder="Country"></td>
    <td><input type="school_course" name="school_course" placeholder="School's Course"></td>
    <td><input type="scu_course" name="scu_course" placeholder="SCU Course"></td>
    <td><input type="determination" name="determination" placeholder="Approved or Denied?"></td>
    <!-- <input type="radio" name="determination" id="approved" value="Approved" checked> Approved <br>
    //<input type="radio" name="determination" id="denied" value="Denied"> Denied <br> -->
    <td> Your username will automatically be recorded. </td>
    <td><input type="description" name="description" placeholder="Please explain your rationale here."></td>
    <td><input type="submit" value="Add row"></td>
    <td></td>
    <td></td>
    </form>

    {% endif %}
    </table>

</body>
</html>
