<!DOCTYPE html>
<html lang="en">
<style>
table {
    font: Helvetica;
    border-collapse: collapse;
    width: 100%;
}

table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: red;
    color: white;
}
</style>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>The Wooden Door Stop Shop</title>
  <link rel="icon" href="images/favicon.ico" type="image/vnd.microsoft.icon">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="grey lighten-5" role="navigation">
    <div class="nav-wrapper">
  <a id="logo-container" href="index.html" class="brand-logo"><i class="large material-icons blue-text text-darken-4">filter_b_and_w</i><div class="blue-text text-darken-4"> The Wooden Door Stop Shop </div></a>
  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons blue-text text-darken-4">menu</i></a>
    
  <ul class="right hide-on-med-and-down">
    <li><a class="blue-text text-darken-4" href="index.html">Home</a></li>
    <li><a class="blue-text text-darken-4" href="#">Door Stops</a></li>
    <li><a class="blue-text text-darken-4" href="product.html">Light Pulls</a></li>
    <li><a class="blue-text text-darken-4" href="#">Stands</a></li>
    <li><a class="blue-text text-darken-4" href="#">Window Wedges</a></li>    
    <li class="bold"><a class="blue-text text-darken-4" href="contact.html">Contact Us</a></li>
    <li><a class="blue-text text-darken-4" href="about.html">About</a></li>
    <li><a class="blue-text text-darken-4" href="#"><i class="material-icons blue-text">shopping_cart</i></a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
    <li><a class="blue-text text-darken-4" href="index.html">Home</a></li>
    <li><a class="blue-text text-darken-4" href="#">Door Stops</a></li>
    <li><a class="blue-text text-darken-4" href="product.html">Light Pulls</a></li>
    <li><a class="blue-text text-darken-4" href="#">Stands</a></li>
    <li><a class="blue-text text-darken-4" href="#">Window Wedges</a></li>    
    <li class="bold"><a class="blue-text text-darken-4" href="contact.html">Contact Us</a></li>
    <li><a class="blue-text text-darken-4" href="about.html">About</a></li>
    <li><a class="blue-text text-darken-4" href="#"><i class="material-icons blue-text">shopping_cart</i></a></li>
    </ul>
      
    </div>
</nav>
</head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
    <table>
        <tr>
            <th>School</th>
            <th>Country</th>
            <th>School Course</th>
            <th>SCU Course</th>
            <th>Determination</th>
            <th>Advisor</th>
            <th>Determination</th>
            <th>Date</th>
        </tr>
        {% for row in items %}
        <tr>
              <td>{{ row.school }}</td>
              <td>{{ row.country}}</td>
              <td>{{ row.school_course }}</td>
              <td>{{ row.scu_course}}</td>
              <td>{{ row.determination }}</td>
              <td>{{ row.advisor}}</td>
              <td>{{ row.description }}</td>
              <td>{{ row.date }}  </td>
	      {% if isLoggedIn and row.advisor == session['username'] %}

              <form method="post" action="{{url_for('delete_row', id=row.id) }}">
              <td><input type="submit" value="Delete Row"></td>
              </form>
              <form method="post" action="{{url_for('display_edit_page', id=row.id) }}">
                  <td><input type="submit" value="Edit Row"></td>
              </form>
	      {% endif %}
        </tr>

        {% endfor %}
    </table>
    {% if isLoggedIn %}
    <form action="/add_row" method="POST">

    <input type="school" name="school" placeholder="School">
    <input type="country" name="country" placeholder="Country">
    <input type="school_course" name="school_course" placeholder="School's Course">
    <input type="scu_course" name="scu_course" placeholder="SCU Course">
    <input type="determination" name="determination" placeholder="Approved or Denied?">
    <!-- <input type="radio" name="determination" id="approved" value="Approved" checked> Approved <br>
    //<input type="radio" name="determination" id="denied" value="Denied"> Denied <br> -->
    <input type="description" name="description" placeholder="Please explain your rationale here.">
    <input type="submit" value="Add row">
    </form>
<form action="/logout">
    	    <input type="submit" name="auth" value="Log Out" action="/logout">
        </form>
    	{% else %}
   	<form action="/login_screen" method="POST">
             <input type="submit" value="Log In as Admin" action="/login" method="POST">
	</form>
	
    {% endif %}
</body>
</html>
